<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
        {% for vote in vote.all %}
        {%if vote.user_id == user.id %}
        {% if choice.id == vote.choice_id and user.id == vote.user_id %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"checked>
        {% else %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        {% endif%}
        {% endif%}
        {% endfor %}
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>

    <input type="submit" value="Vote">
    <a href="{% url 'polls:index' %}">
        <button type="button">Back to List of Polls</button>
    </a>