{% load static %}
{% if messages %}
{% for message in messages%}
{{message}}
{%endfor%}
{% endif %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<a href="{% url 'login' %}"><button type="button">  login </button></a>
<a href="{% url 'logout' %}"><button type="button">  logout </button></a>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% if question.can_vote %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a> <a href="{% url 'polls:detail' question.id %}"><button type="button">  vote</button></a>&nbsp;<a href="{% url 'polls:results' question.id %}"><button type="button">result</button></a></li><br>
{% else %}
        <li>{{ question.question_text }}&nbsp;vote    &nbsp;<a href="{% url 'polls:results' question.id %}"><button type="button">  result </button></a></li><br>
{% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}